<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <h1>Unleash the Power of Artificial Intelligence with RDEVSOL</h1>
          <h2>Harness the limitless potential of AI to transform your business.</h2>
        </div>
        <!--div
          class="col-lg-6 order-1 order-lg-2 hero-img"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <img
            src="../../../assets/img/hero-img.png"
            class="img-fluid animated"
            alt=""
          />
        </div-->
      </div>
    </div>
  </section>
  <!-- End Hero -->
  