<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Why Artificial Intelligence?</h2>
      <p>
        In the modern digital world, Artificial Intelligence is not just a
        buzzword—it's a strategic business tool capable of accelerating growth,
        driving efficiency, and innovating solutions. By integrating AI into
        your business operations, you can enhance decision-making, automate
        workflows, improve customer experiences, and unlock new opportunities.
      </p>
    </div>
    <div>
      <div class="row">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Big Data Solutions </a>
            </h4>
            <ul>
              <li>Data Processing</li>
              <li>Advanced Analytics</li>
              <li>Visualization Tools</li>
            </ul>
            <!--button>
              <span class="card-button">Button</span>
            </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Machine Learning </a>
            </h4>
            <ul>
              <li>Predictive Modeling</li>
              <li>Neural Networks</li>
              <li>Natural Language Processing</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Business Intelligence (BI) </a>
            </h4>
            <ul>
              <li>Reporting Tools</li>
              <li>Dashboards & Visualization</li>
              <li>KPI Monitoring</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Data Warehousing </a>
            </h4>
            <ul>
              <li>ETL Processes</li>
              <li>Storage Solutions</li>
              <li>Data Retrieval</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Data Governance </a>
            </h4>
            <ul>
              <li>Quality Assurance</li>
              <li>Privacy & Compliance</li>
              <li>Metadata Management</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Data Migration </a>
            </h4>
            <ul>
              <li>Source-to-Target Mapping</li>
              <li>Transformation Logic</li>
              <li>Secure Transfer</li>
            </ul>
            <!--button>
          <span class="card-button">Button</span>
        </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Quantitative Analysis </a>
            </h4>
            <ul>
              <li>Statistical Analysis</li>
              <li>Forecasting & Modeling</li>
              <li>Data Interpretation</li>
            </ul>
            <!--button>
        <span class="card-button">Button</span>
      </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Data Visualization </a>
            </h4>
            <ul>
              <li>Dynamic Dashboards</li>
              <li>Interactive Reports</li>
              <li>Real-time Insights</li>
            </ul>
            <!--button>
      <span class="card-button">Button</span>
    </button-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
<!-- ======= Cliens Section ======= -->
<section id="cliens" class=" section-bg">
  <div class="container">
    <div class="row" data-aos="zoom-in">
      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../../assets/img/techstacks/AI/1525846-middle.png"
          class="img-fluid"
          alt=""
        />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../../assets/img/techstacks/AI/2560px-NumPy_logo_2020.svg.png"
          class="img-fluid"
          alt=""
        />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../../assets/img/techstacks/AI/main-qimg-28cadbd02699c25a88e5c78d73c7babc.webp"
          class="img-fluid"
          alt=""
        />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <!--img
          src="../../../../assets/img/techstacks/AI/OpenAI-Logo-PNG.jpeg"
          ="../../../assets/img/clients/client-4.png"
          class="img-fluid"
          alt=""
        /-->
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../../assets/img/techstacks/AI/pytorch_logo_icon_169823.png"
          class="img-fluid"
          alt=""
        />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../../assets/img/techstacks/AI/Tableau-Emblem.png"
          class="img-fluid"
          alt=""
        />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../../assets/img/techstacks/AI/TensorFlow_logo.svg.png"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- End Cliens Section -->
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Why Choose RDEVSOL For AI Services?</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          At RDEVSOL, we don't just offer AI services - we offer AI solutions.
          Our team of seasoned AI experts, data scientists, and software
          engineers work closely with your organization to understand your
          unique challenges and develop custom AI solutions that drive results.
          Here's why businesses trust RDEVSOL:
        </p>
        <ul>
          <li>
            <i class="ri-check-double-line"></i> <b>Expertise:</b> With years of
            experience in AI, we've developed solutions for a diverse range of
            industries and use-cases.
          </li>
          <li>
            <i class="ri-check-double-line"></i> <b>Custom Solutions:</b> We
            provide tailored AI solutions that align with your business needs
          </li>
          <li>
            <i class="ri-check-double-line"></i> <b>Complete Transparency:</b>We
            maintain open lines of communication throughout the project,
            ensuring you’re always in the loop.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            <b>Support & Maintenance:</b>Our support doesn't end with
            implementation. We offer ongoing maintenance and optimization to
            ensure your AI solution remains effective and up-to-date.
          </li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0"></div>
    </div>
  </div>
</section>
<!-- End About Us Section -->
