<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us section-bg">
  <div class="container-fluid" data-aos="fade-up">
    <div class="row">
      <div
        class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1"
      >
        <div class="section-title">
          <h2>Why Choose RDEVSOL?</h2>
        </div>
        <div class="content">
          <h3>
            <strong>
              Pioneering Digital Transformation, Tailored to Your Vision</strong
            >
          </h3>
          <p>
            At RDEVSOL, innovation and precision go hand in hand. We're not just
            developing digital products, we're architecting your digital future.
          </p>
        </div>

        <div class="accordion-list">
          <ul>
            <li>
              <a
                data-bs-toggle="collapse"
                class="collapse"
                data-bs-target="#accordion-list-1"
              >
                <span>01</span> In-depth Discovery
                <i class="bx bx-chevron-down icon-show"></i>
                <i class="bx bx-chevron-up icon-close"></i>
              </a>
              <div
                id="accordion-list-1"
                class="collapse show"
                data-bs-parent=".accordion-list"
              >
                <p>
                  Our journey begins with a deep dive into your vision,
                  exploring industry nuances and current dynamics, laying the
                  foundation for a transformative solution.
                </p>
              </div>
            </li>

            <li>
              <a
                data-bs-toggle="collapse"
                data-bs-target="#accordion-list-2"
                class="collapsed"
              >
                <span>02</span> Collaborative Ideation
                <i class="bx bx-chevron-down icon-show"></i>
                <i class="bx bx-chevron-up icon-close"></i>
              </a>
              <div
                id="accordion-list-2"
                class="collapse"
                data-bs-parent=".accordion-list"
              >
                <p>
                  We merge our tech expertise with your insights, refining and
                  defining the project features that resonate with your business
                  ambitions.
                </p>
              </div>
            </li>

            <li>
              <a
                data-bs-toggle="collapse"
                data-bs-target="#accordion-list-3"
                class="collapsed"
              >
                <span>03</span> User-Centric Design
                <i class="bx bx-chevron-down icon-show"></i>
                <i class="bx bx-chevron-up icon-close"></i>
              </a>
              <div
                id="accordion-list-3"
                class="collapse"
                data-bs-parent=".accordion-list"
              >
                <p>
                  Beyond aesthetics, our designs focus on user experience. We
                  create interfaces that invite, engage, and captivate, ensuring
                  optimal user interaction.
                </p>
              </div>
            </li>

            <li>
              <a
                data-bs-toggle="collapse"
                data-bs-target="#accordion-list-4"
                class="collapsed"
              >
                <span>04</span> Meticulous Development
                <i class="bx bx-chevron-down icon-show"></i>
                <i class="bx bx-chevron-up icon-close"></i>
              </a>
              <div
                id="accordion-list-4"
                class="collapse"
                data-bs-parent=".accordion-list"
              >
                <p>
                  Our development process is robust and meticulous. Every step,
                  from planning to deployment, is taken with precision, ensuring
                  a product that stands the test of time.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div
        class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
        style="background-image: url('../../../assets/img/why-us.png')"
        data-aos="zoom-in"
        data-aos-delay="150"
      >
        &nbsp;
      </div>
    </div>
  </div>
</section>
<!-- End Why Us Section -->
