<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us section-bg">
  <div class="container-fluid" data-aos="fade-up">
    <div class="row">
      <div
        class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1"
      >
        <div class="section-title">
          <h2>Why-Us</h2>
        </div>

        <div class="content">
          <h3>
            <strong>
              We shape vision, deliver digital products, and create world-class
              experiences</strong
            >
          </h3>
          <p>
            Our focus is on innovating and executing at an unmatched pace. We
            help businesses launch their digital solutions at just the right
            time.
          </p>
        </div>

        <div class="accordion-list">
          <ul>
            <li>
              <a
                data-bs-toggle="collapse"
                class="collapse"
                data-bs-target="#accordion-list-1"
                ><span>01</span> Project kickoff
                <i class="bx bx-chevron-down icon-show"></i
                ><i class="bx bx-chevron-up icon-close"></i
              ></a>
              <div
                id="accordion-list-1"
                class="collapse show"
                data-bs-parent=".accordion-list"
              >
                <p>
                  We understand your project requirements, explore industry
                  dynamics, and analyze current infrastructure to craft a new
                  product or revamp your existing digital presence.
                </p>
              </div>
            </li>

            <li>
              <a
                data-bs-toggle="collapse"
                data-bs-target="#accordion-list-2"
                class="collapsed"
                ><span>02</span> Ideation and evaluation
                <i class="bx bx-chevron-down icon-show"></i
                ><i class="bx bx-chevron-up icon-close"></i
              ></a>
              <div
                id="accordion-list-2"
                class="collapse"
                data-bs-parent=".accordion-list"
              >
                <p>
                  Our creative heads discuss the project with your teams to
                  evaluate the key features of the product and give it a real
                  shape, aligning the product with business goals.
                </p>
              </div>
            </li>

            <li>
              <a
                data-bs-toggle="collapse"
                data-bs-target="#accordion-list-3"
                class="collapsed"
                ><span>03</span> Design process
                <i class="bx bx-chevron-down icon-show"></i
                ><i class="bx bx-chevron-up icon-close"></i
              ></a>
              <div
                id="accordion-list-3"
                class="collapse"
                data-bs-parent=".accordion-list"
              >
                <p>
                  We build products with the highest user engagement, solving
                  real problems, and infusing business growth. Our products are
                  designed to stimulate desired user behaviors.
                </p>
              </div>
            </li>

            <li>
              <a
                data-bs-toggle="collapse"
                data-bs-target="#accordion-list-4"
                class="collapsed"
                ><span>04</span> Development process
                <i class="bx bx-chevron-down icon-show"></i
                ><i class="bx bx-chevron-up icon-close"></i
              ></a>
              <div
                id="accordion-list-4"
                class="collapse"
                data-bs-parent=".accordion-list"
              >
                <p>
                  Our development process follows 7 standrards to develop
                  products: Planning, Requirements analysis, Software design and
                  prototyping, Programming, Testing, Deployment, and
                  Maintenance.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div
        class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
        style="background-image: url('../../../assets/img/why-us.png')"
        data-aos="zoom-in"
        data-aos-delay="150"
      >
        &nbsp;
      </div>
    </div>
  </div>
</section>
<!-- End Why Us Section -->
