<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Why Custom Software Development?</h2>
      <p>
        Off-the-shelf software can't always cater to every business need. Custom
        software ensures functionality aligns perfectly with your goals,
        guaranteeing efficiency and competitive advantage.
      </p>
    </div>
    <div>
      <div class="row">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Enterprise Software Solutions </a>
            </h4>
            <ul>
              <li>ERP Systems</li>
              <li>CRM Development</li>
              <li>Business Intelligence</li>
            </ul>
            <!--button>
              <span class="card-button">Button</span>
            </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Web Application Development </a>
            </h4>
            <ul>
              <li>Business Portals</li>
              <li>SaaS Products</li>
              <li>Full-stack Development</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Mobile Software Solutions </a>
            </h4>
            <ul>
              <li>Cross-Platform Apps</li>
              <li>Business Tools</li>
              <li>Utility Applications</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> System Integration </a>
            </h4>
            <ul>
              <li>API Development</li>
              <li>Middleware Solutions</li>
              <li>Legacy System Bridging</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Database Design & Management </a>
            </h4>
            <ul>
              <li>Relational Databases</li>
              <li>NoSQL Solutions</li>
              <li>Data Migration</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> QA & Testing Services </a>
            </h4>
            <ul>
              <li>Manual Testing</li>
              <li>Automation Scripts</li>
              <li>Performance & Load Testing</li>
            </ul>
            <!--button>
          <span class="card-button">Button</span>
        </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Software Maintenance & Support </a>
            </h4>
            <ul>
              <li>Regular Updates</li>
              <li>Bug Fixing</li>
              <li>Long-term Support</li>
            </ul>
            <!--button>
        <span class="card-button">Button</span>
      </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> E-commerce Software Solutions </a>
            </h4>
            <ul>
              <li>Custom Storefronts</li>
              <li>Payment Integration</li>
              <li>Scalability & Optimization</li>
            </ul>
            <!--button>
      <span class="card-button">Button</span>
    </button-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
<!-- ======= Cliens Section ======= -->
<section id="cliens" class="section-bg">
  <div class="container">
    <div class="row" data-aos="zoom-in">
      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../../assets/img/techstacks/custom/Java-Logo.png"
          class="img-fluid"
          alt=""
        />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../../assets/img/techstacks/custom/main-qimg-28cadbd02699c25a88e5c78d73c7babc.webp"
          class="img-fluid"
          alt=""
        />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../../assets/img/techstacks/custom/Microsoft_.NET_logo.png"
          class="img-fluid"
          alt=""
        />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../../assets/img/techstacks/custom/png-transparent-logo-php-computer-icons-symbol-miscellaneous-emblem-text.png"
          class="img-fluid"
          alt=""
        />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../../assets/img/techstacks/custom/png-transparent-microsoft-azure-sql-database-microsoft-sql-server-database-blue-text-logo.png"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- End Cliens Section -->
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Why Choose RDEVSOL for Custom Software Development?</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          At RDEVSOL, we transform your visions into tangible digital solutions.
          With a focus on innovation and excellence, we deliver software that
          fits like a glove.
        </p>
        <ul>
          <li>
            <i class="ri-check-double-line"></i>
            <b>Bespoke Design & Development: </b> Building software from
            scratch, tailored to your exact requirements and business processes.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            <b>Scalable & Future-Ready: </b> Architecting solutions that grow
            with your business, ensuring longevity and relevance.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            <b>End-to-End Development Cycle: </b>From ideation, design,
            development, to testing - we handle every phase with expertise.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            <b>Security & Reliability: </b>Ensuring the highest standards of
            security protocols and offering reliable software that you can
            trust.
          </li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0"></div>
    </div>
  </div>
</section>
<!-- End About Us Section -->
