<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Why Tech Consulting?</h2>
      <p>
        The tech landscape is vast and ever-changing. To harness its power
        without getting lost, expert navigation is indispensable. Tech
        consulting bridges the gap between potential and expertise, ensuring
        you're on the optimal path.
      </p>
    </div>
    <div>
      <div class="row">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> IT Strategy Consulting </a>
            </h4>
            <ul>
              <li>Digital Transformation</li>
              <li>Business Alignment</li>
              <li>Technology Roadmaps</li>
            </ul>
            <!--button>
              <span class="card-button">Button</span>
            </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Cloud Consulting </a>
            </h4>
            <ul>
              <li>Migration Strategies</li>
              <li>Best Platform Selection</li>
              <li>Cost Optimization</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Cybersecurity Consulting </a>
            </h4>
            <ul>
              <li>Risk Assessment</li>
              <li>Protection Strategies</li>
              <li>Compliance & Regulations</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Enterprise Architecture </a>
            </h4>
            <ul>
              <li>System Blueprinting</li>
              <li>Integration Planning</li>
              <li>Modernization Approaches</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Tech Audit & Compliance </a>
            </h4>
            <ul>
              <li>System Evaluations</li>
              <li>Performance Benchmarking</li>
              <li>Compliance Checks</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Innovation Workshops </a>
            </h4>
            <ul>
              <li>Ideation Sessions</li>
              <li>Prototyping Labs</li>
              <li>Tech Trend Analysis</li>
            </ul>
            <!--button>
          <span class="card-button">Button</span>
        </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Business Process Optimization </a>
            </h4>
            <ul>
              <li>Workflow Analysis</li>
              <li>Automation Recommendations</li>
              <li>Efficiency Enhancement</li>
            </ul>
            <!--button>
        <span class="card-button">Button</span>
      </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Digital Transformation Consulting </a>
            </h4>
            <ul>
              <li>Legacy Migration</li>
              <li>New Tech Integration</li>
              <li>Culture & Change Management</li>
            </ul>
            <!--button>
      <span class="card-button">Button</span>
    </button-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Why Choose RDEVSOL for Tech Consulting?</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          RDEVSOL stands at the confluence of technical prowess and strategic
          insight. With us, you don't just get advice; you get a roadmap to
          tech-driven success.
        </p>
        <ul>
          <li>
            <i class="ri-check-double-line"></i>
            <b>Experienced Tech Strategists: </b> Our consultants bring a wealth
            of experience, ensuring informed, practical, and actionable
            insights.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            <b>Holistic Approach: </b> Beyond tech, we consider your business
            goals, market dynamics, and competitive landscape.
          </li>
          <li>
            <i class="ri-check-double-line"></i> <b>Agile & Adaptive: </b>In a
            dynamic tech world, our consulting approach is agile, ensuring your
            business remains ahead of the curve.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            <b>Partnership Beyond Consultation: </b>We commit to your success,
            offering support and guidance even post-consultation.
          </li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0"></div>
    </div>
  </div>
</section>
<!-- End About Us Section -->
