<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Services</h2>
      <p>
        We bring to you award-winning products, and a world-class tech talent
        that bridges the gap between the creative and technology world. At
        RDEVSOL, our solutions become a technology brand that others take
        inspiration from. The services we offer,
      </p>
    </div>
    <div>
      <div class="row">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div
            class="icon-box"
            (click)="navigateToWebDev(); $event.preventDefault()"
          >
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Web Development </a>
            </h4>
            <p>Crafting dynamic, responsive, and user-friendly websites.</p>
            <!--button>
              <span class="card-button">Button</span>
            </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div
            class="icon-box"
            (click)="navigateToWeb3(); $event.preventDefault()"
          >
            <div class="icon">
              <i class="fa fa-laptop">
                <i class="fa fa-code"></i>
              </i>
            </div>
            <h4 class="text-align-center">
              <a href="#.">Web 3.0 Migration</a>
            </h4>
            <p>Building the next-gen decentralized and semantic web</p>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div
            class="icon-box"
            (click)="navigateToAi(); $event.preventDefault()"
          >
            <div class="icon"><i class="fas fa-chart-bar"></i></div>
            <h4 class="text-align-center">
              <a href="#."> AI and Data Analytics </a>
            </h4>
            <p>Unlocking insights for smarter business decisions.</p>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div
            class="icon-box"
            (click)="navigateToCloud(); $event.preventDefault()"
          >
            <div class="icon"><i class="fa fa-robot"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Cloud & Infrastructure </a>
            </h4>
            <p>Scalable, secure, and efficient IT solutions.</p>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="icon-box"
          (click)="navigateToMobile(); $event.preventDefault()">
            <div class="icon">
              <!-- <i class="bx bxl-dribbble"></i> -->
              <i class="fab fa-android"></i>
            </div>
            <h4 class="text-align-center">
              <a href="#."> Mobile App Development </a>
            </h4>
            <p>Creating engaging apps for handheld devices.</p>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="icon-box"
          (click)="navigateToCustom(); $event.preventDefault()">
            <div class="icon">
              <!-- <i class="bx bx-file"></i> -->
              <i class="fab fa-app-store"></i>
            </div>
            <h4 class="text-align-center">
              <a href="#.">Custom Software Development</a>
            </h4>
            <p>Tailored solutions to meet unique business needs.</p>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box"
          (click)="navigateToMarketing(); $event.preventDefault()">
            <div class="icon">
              <i class="fa fa-laptop">
                <i class="fa fa-code"></i>
              </i>
            </div>
            <h4 class="text-align-center">
              <a href="#.">Digital Marketing</a>
            </h4>
            <p>
              Leveraging online platforms for business growth and brand
              awareness.
            </p>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="icon-box"
          (click)="navigateToConsulting(); $event.preventDefault()">
            <div class="icon">
              <i class="fa fa-gamepad"> </i>
            </div>
            <h4 class="text-align-center">
              <a href="#."> Tech Consulting </a>
            </h4>
            <p>
              Providing expert advice for tech strategy, solutions, and
              implementation.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
