<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Services</h2>
      <p>
        We bring to you award-winning products, and a world-class tech talent
        that bridges the gap between the creative and technology world. At
        RDEVSOL, our solutions become a technology brand that others take
        inspiration from. The services we offer,
      </p>
    </div>
    <h3 class="padding-top text-align-center accordion-list">
      WEB Development
    </h3>
    <div class="accordion-content">
      <div class="row">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div
            class="icon-box"
            (click)="navigateToCustomWebDev(); $event.preventDefault()"
          >
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Custom Website Design </a>
            </h4>
            <ul class="rds-card-ul">
              <li>Unique designs.</li>
              <li>Layout creation.</li>
              <li>Integration of brand aesthetics.</li>
            </ul>
            <!--button>
              <span class="card-button">Button</span>
            </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div
            class="icon-box"
            (click)="navigateToWebdev(); $event.preventDefault()"
          >
            <div class="icon">
              <i class="fa fa-laptop">
                <i class="fa fa-code"></i>
              </i>
            </div>
            <h4 class="text-align-center">
              <a href="#.">Responsive Web Development</a>
            </h4>
            <ul class="rds-card-ul">
              <li>Adaptable Design.</li>
              <li>User-friendly navigation and swift load times.</li>
              <li>Ensuring browser compatibility.</li>
            </ul>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div
            class="icon-box"
            (click)="navigateToGpt(); $event.preventDefault()"
          >
            <div class="icon"><i class="fas fa-chart-bar"></i></div>
            <h4 class="text-align-center">
              <a href="#."> E-commerce Development </a>
            </h4>
            <ul class="rds-card-ul">
              <li>Secure shopping platforms.</li>
              <li>Integration of payment gateways.</li>
              <li>Efficient management of products.</li>
            </ul>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div
            class="icon-box"
            (click)="navigateToMl(); $event.preventDefault()"
          >
            <div class="icon"><i class="fa fa-robot"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Content Management Systems (CMS) </a>
            </h4>
            <ul class="rds-card-ul">
              <li>Developing popular CMSs.</li>
              <li>Seamless integration of WordPress, Drupal.</li>
              <li>Training for easy management via CMS.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="icon-box">
            <div class="icon">
              <!-- <i class="bx bxl-dribbble"></i> -->
              <i class="fab fa-android"></i>
            </div>
            <h4 class="text-align-center">
              <a href="#."> Website Redesign and Updates </a>
            </h4>
            <ul class="rds-card-ul">
              <li>Complete website overhaul.</li>
              <li>Addition of new, cutting-edge features.</li>
              <li>Regular updates for sustained relevance.</li>
            </ul>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="icon-box">
            <div class="icon">
              <!-- <i class="bx bx-file"></i> -->
              <i class="fab fa-app-store"></i>
            </div>
            <h4 class="text-align-center">
              <a href="#.">SEO Friendly Development</a>
            </h4>
            <ul class="rds-card-ul">
              <li>Better ranking.</li>
              <li>SEO essentials like meta tags, SEO-friendly URLs.</li>
              <li>Efficient site mapping.</li>
            </ul>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon">
              <i class="fa fa-laptop">
                <i class="fa fa-code"></i>
              </i>
            </div>
            <h4 class="text-align-center">
              <a href="#.">Web Maintenance and Support</a>
            </h4>
            <ul class="rds-card-ul">
              <li>Regular performance audits.</li>
              <li>Timely updates for security.</li>
              <li>Swift troubleshooting and issue resolution.</li>
            </ul>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="icon-box">
            <div class="icon">
              <i class="fa fa-gamepad"> </i>
            </div>
            <h4 class="text-align-center">
              <a href="#."> UI/UX Design Services </a>
            </h4>
            <ul class="rds-card-ul">
              <li>User Experience (UX) Design</li>
              <li>Prototyping and Wireframing</li>
              <li>UI/UX Consultation</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <h3 class="text-align-center accordion-list">
      Artificial Intelligence
    </h3>
    <div class="-accordion-content">
      <div class="row">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"></div>
            <h4 class="text-align-center"><a href="#."> AI Consulting </a></h4>
            <ul class="rds-card-ul">
              <li>Strategy Developments</li>
              <li>Comprehensive Implementation Guidance</li>
              <li>Training and Support</li>
            </ul>
            <!--button>
                <span class="card-button">Button</span>
              </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <h4 class="text-align-center">
              <a href="#."> Predictive Analytics</a>
            </h4>
            <ul class="rds-card-ul">
              <li>Sales Forecasting</li>
              <li>Customer Churn Prediction</li>
              <li>Products & Services Demand Forecasting</li>
            </ul>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <h4 class="text-align-center">
              <a href="#."> Natural Language Processing </a>
            </h4>
            <!--b>Enhancing customer interactions with language understanding</b-->
            <ul class="rds-card-ul">
              <li>Sentiment Analysis</li>
              <li>Chatbots</li>
              <li>Text Extraction and Classification</li>
            </ul>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <h4 class="text-align-center">
              <a href="#."> Computer Vision </a>
            </h4>
            <ul class="rds-card-ul">
              <li>Image & Facial Recognition</li>
              <li>Anomaly Detection</li>
              <li>Text Extraction From Images</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="icon-box">
            <div class="icon">
              <!-- <i class="bx bxl-dribbble"></i> -->
              <i class="fab fa-android"></i>
            </div>
            <h4 class="text-align-center">
              <a href="#."> Machine Learning Solutions </a>
            </h4>
            <ul class="rds-card-ul">
              <li>Supervised Learnings</li>
              <li>Unsupervised Learning</li>
              <li>Reinforcement Learning</li>
            </ul>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="icon-box">
            <div class="icon">
              <!-- <i class="bx bx-file"></i> -->
              <i class="fab fa-app-store"></i>
            </div>
            <h4 class="text-align-center"><a href="#.">Deep Learning</a></h4>
            <ul class="rds-card-ul">
              <li>
                Speech Recognition (Converting spoken language into written
                form)
              </li>
              <li>Image Segmentation</li>
              <li>Generative Models</li>
            </ul>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon">
              <i class="fa fa-laptop">
                <i class="fa fa-code"></i>
              </i>
            </div>
            <h4 class="text-align-center">
              <a href="#.">ChatGPT and OpenAI Services</a>
            </h4>
            <ul class="rds-card-ul">
              <li>ChatGPT Integration</li>
              <li>OpenAI API Utilization</li>
              <li>Model Training and Tuning</li>
            </ul>
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="icon-box">
            <div class="icon">
              <i class="fa fa-gamepad"> </i>
            </div>
            <h4 class="text-align-center"><a href="#."> Data Science </a></h4>
            <ul class="rds-card-ul">
              <li>Sentiment Analysis</li>
              <li>Chatbots</li>
              <li>Text Extraction and Classification</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
