<section id="why-us" class="why-us section-bg">
  <div class="container-fluid" data-aos="fade-up">
    <div class="row">
      <div
        class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1"
      >
        <div class="content">
          <h3>
            <strong>
              Pioneering a Unique Market Space: The Spexster Story</strong
            >
          </h3>
          <p>
            RDEVSOL has been instrumental in the development of Spexster, a
            revolutionary startup creating a bridge between videographers and
            advertisers.
          </p>
        </div>

        <div class="accordion-list">
          <ul>
            <li>
              <a
                data-bs-toggle="collapse"
                class="collapse"
                data-bs-target="#accordion-list-1"
                ><span>01</span> About The Spexter App
                <i class="bx bx-chevron-down icon-show"></i
                ><i class="bx bx-chevron-up icon-close"></i
              ></a>
              <div
                id="accordion-list-1"
                class="collapse show"
                data-bs-parent=".accordion-list"
              >
                <p>
                  Spexster is a groundbreaking startup designed to bridge the
                  gap between videographers and advertisers. It was born out of
                  the need for filmmakers to market spec videos - footage
                  created for pitches but ultimately not chosen. This
                  marketplace gives advertisers access to pre-existing videos,
                  which can then be modified according to their branding needs,
                  making it a beneficial solution for both parties. During the
                  initial stages of collaboration with the Spexster founders, it
                  was evident that there were no direct competitors, setting
                  Spexster apart from any other business in the market.
                </p>
              </div>
            </li>

            <li>
              <a
                data-bs-toggle="collapse"
                data-bs-target="#accordion-list-2"
                class="collapsed"
                ><span>02</span> Requirments
                <i class="bx bx-chevron-down icon-show"></i
                ><i class="bx bx-chevron-up icon-close"></i
              ></a>
              <div
                id="accordion-list-2"
                class="collapse"
                data-bs-parent=".accordion-list"
              >
                <p>
                  Our primary task was to shape and define the unique identity
                  of Spexster, focusing on its one-of-a-kind business model. It
                  was crucial to set up an impactful and user-friendly Minimum
                  Viable Product (MVP), factoring in a myriad of creative ideas
                  brought to the table by the Spexster team. The wireframing
                  phase concentrated on optimizing three core pages - the
                  landing page, video list, and detail pages - to maximize
                  engagement and interaction. Further, designing a seamless
                  conversion flow was necessary due to Spexster's unique and
                  high-ticket business model.
                </p>
              </div>
            </li>

            <li>
              <a
                data-bs-toggle="collapse"
                data-bs-target="#accordion-list-3"
                class="collapsed"
                ><span>03</span> Our Solution
                <i class="bx bx-chevron-down icon-show"></i
                ><i class="bx bx-chevron-up icon-close"></i
              ></a>
              <div
                id="accordion-list-3"
                class="collapse"
                data-bs-parent=".accordion-list"
              >
                <p>
                  Post-finalizing the UX strategy, we proceeded to implement a
                  distinct design scheme. We opted for darker shades to provide
                  the site a cinematic feel, complementing them with lighter
                  backgrounds to ensure comfortable reading of extensive textual
                  sections. Bright accent colors inspired by Spexster's logo
                  were integrated to catch attention and create visual interest.
                  Given the complexity of the site, a custom .NET platform was
                  built from scratch to fulfill all unique requirements and
                  expectations. Interactive elements were coded into the site to
                  encourage user interaction and deepen user engagement.
                </p>
              </div>
            </li>

            <li>
              <a
                data-bs-toggle="collapse"
                data-bs-target="#accordion-list-4"
                class="collapsed"
                ><span>04</span> Results
                <i class="bx bx-chevron-down icon-show"></i
                ><i class="bx bx-chevron-up icon-close"></i
              ></a>
              <div
                id="accordion-list-4"
                class="collapse"
                data-bs-parent=".accordion-list"
              >
                <p>
                  After thorough testing across multiple devices, we trained the
                  client on the Content Management System and facilitated their
                  independent testing. The absence of prior website analytics,
                  due to Spexster being a new company, allowed us to launch the
                  website at a time that best suited the client. Following the
                  successful launch, we continue to enhance the site's
                  functionality and features, in alignment with the project
                  roadmap. This ongoing development has been well-received by
                  users, indicating a promising future for Spexster in the
                  marketplace.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div
        class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
        style="background-image: url('../../../assets/img/why-us.png')"
        data-aos="zoom-in"
        data-aos-delay="150"
      >
        &nbsp;
      </div>
    </div>
  </div>
</section>

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Project Steps</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          RDEVSOL was committed to developing a standout solution for Spexster,
          focusing on creating an impactful and interactive platform. The
          detailed steps to achieving this project included:
        </p>
        <ul>
          <li>
            <i class="ri-check-double-line"></i> Defining the Minimum Viable
            Product (MVP) through collaborative brainstorming.
          </li>
          <li>
            <i class="ri-check-double-line"></i> Mapping out the UX strategy.
          </li>
          <li>
            <i class="ri-check-double-line"></i> Wireframing for optimized
            engagement and interaction.
          </li>
          <li>
            <i class="ri-check-double-line"></i> Implementing a design scheme
            that adheres to Spexster’s brand identity.
          </li>
          <li>
            <i class="ri-check-double-line"></i> Designing a seamless conversion
            flow.
          </li>
          <li>
            <i class="ri-check-double-line"></i> Building a custom .NET platform
            to fulfill all unique requirements.
          </li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          The project execution further entails an in-depth process, ensuring a
          smooth and engaging user journey. These steps include:
        </p>
        <ul>
          <li>
            <i class="ri-check-double-line"></i> Coding interactive elements
            into the site.
          </li>
          <li>
            <i class="ri-check-double-line"></i> Conducting comprehensive
            testing across multiple devices.
          </li>
          <li>
            <i class="ri-check-double-line"></i> Training the client on the
            Content Management System.
          </li>
          <li>
            <i class="ri-check-double-line"></i> Facilitating independent client
            testing.
          </li>
          <li>
            <i class="ri-check-double-line"></i> Launching the website as per
            client convenience.
          </li>
          <li>
            <i class="ri-check-double-line"></i> Continuing enhancement of site
            functionality and features post-launch.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->
