<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Why Mobile Development?</h2>
      <p>
        In today's mobile-centric world, intuitive and engaging apps are
        paramount. They don't just represent your brand; they empower users,
        facilitate tasks, and create memorable experiences.
      </p>
    </div>
    <div>
      <div class="row">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> iOS Development </a>
            </h4>
            <ul>
              <li>Native Apps</li>
              <li>UI/UX Design</li>
              <li>App Store Deployment</li>
            </ul>
            <!--button>
              <span class="card-button">Button</span>
            </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Android Development </a>
            </h4>
            <ul>
              <li>Native Apps</li>
              <li>Material Design</li>
              <li>Google Play Deployment</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Cross-Platform Development: </a>
            </h4>
            <ul>
              <li>React Native</li>
              <li>Flutter Apps</li>
              <li>Universal Design</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> App Maintenance </a>
            </h4>
            <ul>
              <li>Bug Fixes</li>
              <li>Periodic Updates</li>
              <li>Performance Enhancement</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Game Development </a>
            </h4>
            <ul>
              <li>Unity Framework</li>
              <li>AR/VR Games</li>
              <li>Multiplayer Integration</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> E-commerce Apps </a>
            </h4>
            <ul>
              <li>Mobile Shopping</li>
              <li>Secure Payments</li>
              <li>User Account Management</li>
            </ul>
            <!--button>
          <span class="card-button">Button</span>
        </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Health & Fitness Apps </a>
            </h4>
            <ul>
              <li>Activity Tracking</li>
              <li>Diet & Nutrition</li>
              <li>Health Monitoring</li>
            </ul>
            <!--button>
        <span class="card-button">Button</span>
      </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Social Media Apps </a>
            </h4>
            <ul>
              <li>Chat & Messaging</li>
              <li>Photo & Video Sharing</li>
              <li>User Connectivity</li>
            </ul>
            <!--button>
      <span class="card-button">Button</span>
    </button-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Why Choose RDEVSOL for Mobile Development?</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          RDEVSOL transforms your mobile visions into tangible results. Our
          expertise encompasses the full spectrum of mobile development, from
          ideation to deployment.
        </p>
        <ul>
          <li>
            <i class="ri-check-double-line"></i>
            <b>Experience Across Platforms: </b> Mastery in iOS, Android, and
            cross-platform development ensures top-notch, versatile solutions.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            <b>User-Centric Designs: </b> Building apps with user experience at
            the core, ensuring intuitive and engaging interactions.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            <b>Agile Development Process: </b>Flexibility, efficiency, and
            iterative development ensure timely delivery without compromising
            quality.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            <b>End-to-End Support: </b>From conceptualizing to post-launch
            support, we're with you at every step of your mobile journey.
          </li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0"></div>
    </div>
  </div>
</section>
<!-- End About Us Section -->
