<section id="why-us" class="why-us section-bg">
  <div class="container-fluid" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1">
        <div class="content">
          <h3>
            <strong>
              Redesigning Open Banking: A Case Study</strong
            >
          </h3>
          <p>
            RDEVSOL played a crucial role in the successful transformation of the Open Banking website into a more robust, secure, and user-friendly platform.
          </p>
        </div>

        <div class="accordion-list">
          <ul>
            <li>
              <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Identifying the Need
                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                <p>
                  Open Banking required a more secure and user-friendly website to enhance the digital experience for customers and stakeholders. It was also necessary to ensure seamless integration with data APIs and a platform robust enough to handle data effectively and securely.
                </p>
              </div>
            </li>

            <li>
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Our Solution
                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  RDEVSOL provided a unique solution by completely revamping the website's design and usability. Our development team designed a strategic sitemap to optimize the flow and hierarchy of information. We also ensured secure and robust data handling by setting up enterprise hosting with WP Engine.
                </p>
              </div>
            </li>

            <li>
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Outcome
                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  The outcome was a user-centric, secure, and highly functional website that satisfied Open Banking's needs. The website now efficiently handles large data volumes, and users can interact with the website seamlessly, significantly improving their digital experience.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style="background-image: url('../../../assets/img/why-us.png')" data-aos="zoom-in" data-aos-delay="150">
        &nbsp;
      </div>
    </div>
  </div>
</section>

<!-- ======= About Us Section ======= -->
<section id="project-steps" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Project Execution Steps</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          RDEVSOL followed a systematic approach to address the requirements of Open Banking and delivered a solution tailored to their needs. The initial steps included:
        </p>
        <ul>
          <li>
            <i class="ri-check-double-line"></i> Identify and understand the main pain points and areas for improvement in the existing Open Banking website.
          </li>
          <li>
            <i class="ri-check-double-line"></i> Map out a new UX design to enhance user interaction and ease of navigation.
          </li>
          <li>
            <i class="ri-check-double-line"></i> Design a strategic site map to optimize the flow and hierarchy of information.
          </li>
          <li>
            <i class="ri-check-double-line"></i> Setup enterprise hosting with WP Engine for robust and secure data handling.
          </li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          The project execution further involved the development of key components and ensured smooth content migration. These steps included:
        </p>
        <ul>
          <li>
            <i class="ri-check-double-line"></i> Configure Google Tag Manager for efficient website analytics tracking.
          </li>
          <li>
            <i class="ri-check-double-line"></i> Develop a comprehensive App Store and Regulated Providers Directory.
          </li>
          <li>
            <i class="ri-check-double-line"></i> Establish seamless Data API integrations for efficient data interchange.
          </li>
          <li>
            <i class="ri-check-double-line"></i> Migrate all necessary content, ensuring no critical data is lost during the transition.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->
