<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Why Cloud Services?</h2>
      <p>
        The cloud is more than just storage; it's a powerhouse of scalability,
        flexibility, and innovation. Embracing cloud services is pivotal for
        businesses seeking agility in a digitally-driven landscape.
      </p>
    </div>
    <div>
      <div class="row">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Cloud Consulting </a>
            </h4>
            <ul>
              <li>Strategy Formation</li>
              <li>Platform Selection</li>
              <li>Migration Planning</li>
            </ul>
            <!--button>
              <span class="card-button">Button</span>
            </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Cloud Migration </a>
            </h4>
            <ul>
              <li>Data Transfer</li>
              <li>Application Porting</li>
              <li>Infrastructure Setup</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> DevOps Services </a>
            </h4>
            <ul>
              <li>Continuous Integration</li>
              <li>Deployment Automation</li>
              <li>Infrastructure Monitoring</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Managed IT Services </a>
            </h4>
            <ul>
              <li>24/7 Support</li>
              <li>System Maintenance</li>
              <li>Network Management</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Cybersecurity Solutions </a>
            </h4>
            <ul>
              <li>Threat Monitoring</li>
              <li>Data Protection</li>
              <li>Compliance Assurance</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Database Management </a>
            </h4>
            <ul>
              <li>Database Design</li>
              <li>Performance Tuning</li>
              <li>Backup & Recovery</li>
            </ul>
            <!--button>
          <span class="card-button">Button</span>
        </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Server Hosting </a>
            </h4>
            <ul>
              <li>Dedicated Hosting</li>
              <li>VPS Solutions</li>
              <li>Scalable Infrastructure</li>
            </ul>
            <!--button>
        <span class="card-button">Button</span>
      </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Networking Solutions </a>
            </h4>
            <ul>
              <li>Network Design</li>
              <li>Secure VPNs</li>
              <li>Traffic Optimization</li>
            </ul>
            <!--button>
      <span class="card-button">Button</span>
    </button-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Why Choose RDEVSOL for Cloud Services?</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          RDEVSOL's cloud expertise empowers businesses to harness the cloud's
          full potential. We ensure a seamless cloud journey, from strategy to
          implementation and beyond.
        </p>
        <ul>
          <li>
            <i class="ri-check-double-line"></i>
            <b>Certified Cloud Experts: </b>Our team consists of certified
            professionals across major cloud platforms, ensuring best practices
            and expert guidance.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            <b>Tailored Cloud Solutions: </b>Recognizing that every business is
            unique, we customize cloud solutions to fit your specific needs.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            <b>Security at the Forefront: </b>With the cloud comes
            responsibility. We prioritize securing your data and operations,
            ensuring peace of mind.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            <b>End-to-End Cloud Management: </b>From infrastructure setup to
            cost optimization, we manage all facets of your cloud presence,
            allowing you to focus on core business functions.
          </li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0"></div>
    </div>
  </div>
</section>
<!-- End About Us Section -->
