<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Why Web 3.0 Development?</h2>
      <p>
        Web 3.0 isn't just the future; it's now. It stands at the intersection
        of decentralized solutions, enhanced user privacy, and more meaningful
        interactions on the web.
      </p>
    </div>
    <div>
      <div class="row">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Blockchain Development </a>
            </h4>
            <ul>
              <li>Smart Contracts</li>
              <li>DApps Creation</li>
              <li>Chain Integration</li>
            </ul>
            <!--button>
              <span class="card-button">Button</span>
            </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Decentralized Finance (DeFi) </a>
            </h4>
            <ul>
              <li>Liquidity Protocols</li>
              <li>Yield Farming Solutions</li>
              <li>Stablecoin Development</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> NFT Platforms </a>
            </h4>
            <ul>
              <li>Digital Art Platforms</li>
              <li>NFT Minting</li>
              <li>Marketplace Integration</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Semantic Web Solutions </a>
            </h4>
            <ul>
              <li>RDF & OWL Development</li>
              <li>Ontology Engineering</li>
              <li>Knowledge Graphs</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Decentralized Identity </a>
            </h4>
            <ul>
              <li>Self-Sovereign Identity</li>
              <li>Privacy Controls</li>
              <li>Cross-platform Verification</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Interoperability Solutions </a>
            </h4>
            <ul>
              <li>Cross-Chain Communication</li>
              <li>Token Bridges</li>
              <li>Multi-Chain DApps</li>
            </ul>
            <!--button>
          <span class="card-button">Button</span>
        </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Decentralized Data Storage </a>
            </h4>
            <ul>
              <li>Filecoin & IPFS</li>
              <li>Data Retrieval & Pinning</li>
              <li>Secure Encryption</li>
            </ul>
            <!--button>
        <span class="card-button">Button</span>
      </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Tokenization & ICOs </a>
            </h4>
            <ul>
              <li>Token Design & Economics</li>
              <li>ICO/IDO/STO Launchpads</li>
              <li>Governance Protocols</li>
            </ul>
            <!--button>
      <span class="card-button">Button</span>
    </button-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Why Choose RDEVSOL for Web 3.0 Services?</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          Embrace the decentralized revolution with RDEVSOL, where innovation
          meets impeccable execution. Our team is at the forefront of the Web
          3.0 era.
        </p>
        <ul>
          <li>
            <i class="ri-check-double-line"></i>
            <b>Decentralized Vision:</b> Deep understanding and belief in the
            power and potential of decentralized solutions.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            <b>State-of-the-Art Implementation:</b> Cutting-edge techniques
            ensuring your project is built to the highest Web 3.0 standards.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            <b>Adaptable & Forward-Thinking:</b>Staying updated with rapid
            shifts in the Web 3.0 landscape, ensuring adaptability and
            relevance.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            <b>Trusted Partnership:</b>We commit to more than just development;
            we're your collaborators in navigating the Web 3.0 journey.
          </li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0"></div>
    </div>
  </div>
</section>
<!-- End About Us Section -->
