<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <!--h2>Services</h2-->
      <h2>
        Here are some Demo Projects that we have done.
      </h2>
    </div>

    <div class="row mt-3">
        <h3>
            Web Dev Case Studies
        </h3>
      <div
        class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
        data-aos="zoom-in"
        data-aos-delay="300"
      >
        <div class="icon-box" (click)="navigateToSpexter(); $event.preventDefault()">
          <div class="icon"><i class="fa fa-brain"></i></div>
          <h4><a>Spexter Web App </a></h4>
          <p>
            We build AI development solutions with the best technologies that
            can transform the world.
          </p>
        </div>
      </div>

      <div
        class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
        data-aos="zoom-in"
        data-aos-delay="400"
      >
        <div class="icon-box" (click)="navigateToOpenBanking(); $event.preventDefault()">
          <div class="icon"><i class="fas fa-chart-line"></i></div>
          <h4><a href="#.">Open Banking</a></h4>
          <p>
            Analyze organization's historical and current data, to uncover
            actionable insights for making strategic decisions.
          </p>
        </div>
      </div>

      <div
        class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
        data-aos="zoom-in"
        data-aos-delay="300"
      >
        <div class="icon-box">
          <div class="icon"><i class="fas fa-chart-bar"></i></div>
          <h4><a href="#."> Kitimat Bound </a></h4>
          <p>
            Let valuable data drive your business to further improve profit with
            our big data analytics service.
          </p>
        </div>
      </div>

      <div
        class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
        data-aos="zoom-in"
        data-aos-delay="300"
      >
        <div class="icon-box">
          <div class="icon"><i class="fa fa-robot"></i></div>
          <h4><a href="#."> Aspirity Tech </a></h4>
          <p>
            Unlock the power of Machine Learning to develope solutions that
            create meaningful impact and influence modern life.
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-3">
        <h3>
            AI Case Studies
        </h3>
      <div
        class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
        data-aos="zoom-in"
        data-aos-delay="300"
      >
        <div class="icon-box">
          <div class="icon"><i class="fa fa-brain"></i></div>
          <h4><a href="#."> Spexter Web App </a></h4>
          <p>
            We build AI development solutions with the best technologies that
            can transform the world.
          </p>
        </div>
      </div>

      <div
        class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
        data-aos="zoom-in"
        data-aos-delay="400"
      >
        <div class="icon-box">
          <div class="icon"><i class="fas fa-chart-line"></i></div>
          <h4><a href="#.">Open Banking</a></h4>
          <p>
            Analyze organization's historical and current data, to uncover
            actionable insights for making strategic decisions.
          </p>
        </div>
      </div>

      <div
        class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
        data-aos="zoom-in"
        data-aos-delay="300"
      >
        <div class="icon-box">
          <div class="icon"><i class="fas fa-chart-bar"></i></div>
          <h4><a href="#."> Better Cloud </a></h4>
          <p>
            Let valuable data drive your business to further improve profit with
            our big data analytics service.
          </p>
        </div>
      </div>

      <div
        class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
        data-aos="zoom-in"
        data-aos-delay="300"
      >
        <div class="icon-box">
          <div class="icon"><i class="fa fa-robot"></i></div>
          <h4><a href="#."> Aspirity Tech </a></h4>
          <p>
            Unlock the power of Machine Learning to develope solutions that
            create meaningful impact and influence modern life.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
