<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h1>Open Banking</h1>
        <h2>Case study for Open Banking</h2>
      </div>
      <div
        class="col-lg-6 order-1 order-lg-2 hero-img"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <!--button (click)="prevImage()">Prev</button>
        <img
          [src]="getCurrentImage()"
          class="img-fluid animated fixed-dimension-img"
          alt=""
        />
        <button (click)="nextImage()">Next</button-->
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->
