<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Why Web Development?</h2>
      <p>
        A stellar website is your digital handshake, bridging the gap between
        your business and global opportunities. It’s more than aesthetics; it's
        about growth, engagement, and conversions.
      </p>
    </div>
    <div>
      <div class="row">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Front-end Development </a>
            </h4>
            <ul>
              <li>Responsive Design</li>
              <li>Interactive Elements</li>
              <li>Optimized Performance</li>
            </ul>
            <!--button>
              <span class="card-button">Button</span>
            </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Back-end Development </a>
            </h4>
            <ul>
              <li>Database Management</li>
              <li>Server Configuration</li>
              <li>API Integration</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> E-commerce Solutions </a>
            </h4>
            <ul>
              <li>Shopping Cart Integration</li>
              <li>Secure Payment Gateways</li>
              <li>Inventory Management</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Content Management Systems (CMS) </a>
            </h4>
            <ul>
              <li>WordPress Development</li>
              <li>Joomla! & Drupal</li>
              <li>Custom CMS Solutions</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Web Application Development </a>
            </h4>
            <ul>
              <li>Business Tools</li>
              <li>Social Platforms</li>
              <li>Interactive Web Apps</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Maintenance & Support </a>
            </h4>
            <ul>
              <li>Periodic Updates</li>
              <li>Security Monitoring</li>
              <li>Backup Solutions</li>
            </ul>
            <!--button>
          <span class="card-button">Button</span>
        </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> UI/UX Design </a>
            </h4>
            <ul>
              <li>User-Centric Design</li>
              <li>Interactive Prototypes</li>
              <li>Usability Testing</li>
            </ul>
            <!--button>
        <span class="card-button">Button</span>
      </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Website Optimization </a>
            </h4>
            <ul>
              <li>SEO Best Practices</li>
              <li>Load Time Reduction</li>
              <li>Mobile Optimization</li>
            </ul>
            <!--button>
      <span class="card-button">Button</span>
    </button-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
<!-- ======= Cliens Section ======= -->
<section id="cliens" class="section-bg">
  <div class="container">
    <div class="row" data-aos="zoom-in">
      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../../assets/img/techstacks/webdev/2560px-Node.js_logo.svg.png"
          class="img-fluid"
          alt=""
        />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../../assets/img/techstacks/webdev/2560px-Ruby_On_Rails_Logo.svg.png"
          class="img-fluid"
          alt=""
        />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../../assets/img/techstacks/webdev/62a74f85223343fbc2207d05.png"
          class="img-fluid"
          alt=""
        />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../../assets/img/techstacks/webdev/angular.png"
          class="img-fluid"
          alt=""
        />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../../assets/img/techstacks/webdev/png-clipart-laravel-black-logo-tech-companies-thumbnail.png"
          class="img-fluid"
          alt=""
        />
      </div>
      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../../assets/img/techstacks/webdev/png-transparent-bootstrap-plain-wordmark-logo-icon.png"
          class="img-fluid"
          alt=""
        />
      </div>
      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../../assets/img/techstacks/webdev/png-transparent-django-python-computer-icons-logo-python-text-label-rectangle-thumbnail.png"
          class="img-fluid"
          alt=""
        />
      </div>
      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../../assets/img/techstacks/webdev/png-transparent-tailwind-css-hd-logo.png"
          class="img-fluid"
          alt=""
        />
      </div>
      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../../assets/img/techstacks/webdev/reactjs-ar21.png"
          class="img-fluid"
          alt=""
        />
      </div>
      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../../../assets/img/techstacks/webdev/WordPress_blue_logo.svg.png"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- End Cliens Section -->
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Why Choose RDEVSOL for Web Dev Services?</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          At RDEVSOL, we're not just developers; we're your strategic partners
          in crafting digital success stories. Our dedication, expertise, and
          innovative approach set us apart.
        </p>
        <ul>
          <li>
            <i class="ri-check-double-line"></i>
            <b>Industry Expertise: </b> Years of experience across diverse
            sectors, ensuring your website speaks to your unique audience.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            <b>Cutting-Edge Solutions: </b> Leveraging the latest tech stacks
            for high-performance, future-ready websites.
          </li>
          <li>
            <i class="ri-check-double-line"></i> <b>Dedicated Support:</b>We We
            prioritize your success, offering seamless support throughout and
            beyond project completion.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            <b>Strategic Approach:</b>More than coding, we focus on driving
            results, user engagement, and maximizing ROI..
          </li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0"></div>
    </div>
  </div>
</section>
<!-- End About Us Section -->
