<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>About RDEVSOL</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          At RDEVSOL, we don't just develop digital products—we architect your digital future. As pioneers in digital transformation, our team of talented data scientists, developers, designers, and engineers are dedicated to crafting elegant solutions tailored to your vision.
        </p>
        <h4>Our Expertise:</h4>
        <ul>
          <li><i class="ri-check-double-line"></i> Mobile Apps Development (iOS & Android)</li>
          <li><i class="ri-check-double-line"></i> Web & Game Development</li>
          <li><i class="ri-check-double-line"></i> Business Intelligence & Big Data Analytics</li>
          <li><i class="ri-check-double-line"></i> AI & Machine Learning Solutions</li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          Innovation and precision drive our approach. Beyond delivering top-tier technological solutions, we focus on curating experiences. Our designs invite, engage, and captivate, ensuring optimal user interaction with a touch of artistry.
        </p>
        <h4>Our Process:</h4>
        <ul>
          <li><i class="ri-check-double-line"></i> Collaborative Conceptualization</li>
          <li><i class="ri-check-double-line"></i> Crafting UX Wireframes & UI Mockups</li>
          <li><i class="ri-check-double-line"></i> Rapid, Clickable Prototyping</li>
          <li><i class="ri-check-double-line"></i> User-Centric Experience Design</li>
        </ul>

        <a href="#" class="btn-learn-more">Discover More</a>
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->
