<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>About Us</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            RDEVSOL is a software development company with a world-class
            team of talented data scientists, developers, designers,
            mathematicians, engineers, and creative artists. We are
            motivated to build elegant and functional digital products that
            solve complex problems. Our world-class software solutions for
            business across the globe include,
          </p>
          <ul>
            <li>
              <i class="ri-check-double-line"></i> Mobile Apps Development
              (iOS & Android)
            </li>
            <li><i class="ri-check-double-line"></i> Web Development</li>
            <li><i class="ri-check-double-line"></i> Game Development</li>
            <li>
              <i class="ri-check-double-line"></i> Business Intelligence
            </li>
            <li><i class="ri-check-double-line"></i> Big Data Analytics</li>
            <li>
              <i class="ri-check-double-line"></i> Artificial Intelligence &
              Machine Learning
            </li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            We leverage modern technologies and innovative minds to develop
            dynamic software solutions for multiple platforms, helping
            clients introduce a one-of-a-kind solution to the audience. Our
            products undergo vigorous analysis to craft user-centric,
            result-driven, and industry-specific designs. We design to
            enhance user engagement and improve user experience, with
            intriguing concepts.
          </p>
          <ul>
            <li>
              <i class="ri-check-double-line"></i> Conceptualization
              exercise with project stakeholders.
            </li>
            <li>
              <i class="ri-check-double-line"></i> Creating a project style
              guide.
            </li>
            <li>
              <i class="ri-check-double-line"></i> Developing user
              experience wireframes for key page types.
            </li>
            <li>
              <i class="ri-check-double-line"></i> User interface mockups
              based on approved wireframes.
            </li>
            <li>
              <i class="ri-check-double-line"></i> Building Clickable rapid
              prototyping.
            </li>
            <li>
              <i class="ri-check-double-line"></i> Creating user experience
            </li>
          </ul>

          <a href="#" class="btn-learn-more">Learn More</a>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Us Section -->
