<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Why Digital Marketing?</h2>
      <p>
        In an interconnected era, digital marketing is the key to visibility and
        engagement. It's more than just online presence; it's about reaching the
        right audience with the right message at the right time.
      </p>
    </div>
    <div>
      <div class="row">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Search Engine Optimization (SEO) </a>
            </h4>
            <ul>
              <li>On-Page Optimization</li>
              <li>Link Building</li>
              <li>Technical SEO</li>
            </ul>
            <!--button>
              <span class="card-button">Button</span>
            </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Pay-Per-Click Advertising (PPC) </a>
            </h4>
            <ul>
              <li>Google Ads</li>
              <li>Ad Copywriting</li>
              <li>Conversion Tracking</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Content Marketing </a>
            </h4>
            <ul>
              <li>Blog Writing</li>
              <li>Video Creation</li>
              <li>Infographics & Visuals</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Social Media Marketing </a>
            </h4>
            <ul>
              <li>Platform Strategy</li>
              <li>Campaign Management</li>
              <li>Engagement & Analytics</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Email Marketing </a>
            </h4>
            <ul>
              <li>List Building</li>
              <li>Campaign Creation</li>
              <li>Open & Conversion Rates</li>
            </ul>
            <!--button>
            <span class="card-button">Button</span>
          </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Affiliate & Influencer Marketing </a>
            </h4>
            <ul>
              <li>Partnership Management</li>
              <li>Campaign Tracking</li>
              <li>ROI Measurement</li>
            </ul>
            <!--button>
          <span class="card-button">Button</span>
        </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Online Reputation Management </a>
            </h4>
            <ul>
              <li>Review Monitoring</li>
              <li>Brand Perception</li>
              <li>Damage Control</li>
            </ul>
            <!--button>
        <span class="card-button">Button</span>
      </button-->
          </div>
        </div>

        <div
          class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 rds-card"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="fa fa-brain"></i></div>
            <h4 class="text-align-center">
              <a href="#."> Analytics & Insights </a>
            </h4>
            <ul>
              <li>Traffic Analysis</li>
              <li>Conversion Optimization</li>
              <li>Performance Reporting</li>
            </ul>
            <!--button>
      <span class="card-button">Button</span>
    </button-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Why Choose RDEVSOL for Digital Marketing?</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          RDEVSOL's digital marketing strategies are tailored to your unique
          business needs, ensuring optimum visibility, engagement, and ROI. Dive
          into the digital age with us!
        </p>
        <ul>
          <li>
            <i class="ri-check-double-line"></i>
            <b>Data-Driven Strategies:</b> Crafting campaigns based on deep
            analytics, ensuring meaningful interactions and conversions.
          </li>
          <li>
            <i class="ri-check-double-line"></i> <b>Diverse Expertise:</b>From
            SEO to social media, our multifaceted expertise ensures
            comprehensive digital dominance.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            <b>Adaptive Marketing Tactics:</b>Keeping pace with evolving digital
            trends, ensuring your brand stays relevant and resonant.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            <b>Personalized Engagement:</b>Understanding your brand voice,
            ethos, and audience for personalized, impactful campaigns.
          </li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0"></div>
    </div>
  </div>
</section>
<!-- End About Us Section -->
